<app-header name="Latest News"></app-header>
<div class="slider-container">
  <ion-content>

  </ion-content>
</div>

<ion-content [fullscreen]="true">
  <div id="container-card">
    <ion-card *ngFor="let news of newsArray" mode="ios" [style.display]="news.urlToImage ? 'inherit' : 'none'">
      <img [ngStyle]="{'display' : news.urlToImage? 'initial' : 'none'}" [src]="news.urlToImage"
        (load)="imageload(news)">
      <img [ngStyle]="{'display' : news.urlToImage ? 'none' : 'initial'}" [src]="default">
      <ion-card-header>
        <ion-card-subtitle>{{news.publishedAt | date:' dd MMM, yyyy'}}</ion-card-subtitle>
        <!-- <ion-card-title></ion-card-title> -->
      </ion-card-header>
      <ion-card-content color="light" class="new-content" (click)="getNewsDeatils(news)">
        <p>{{news.title}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>